@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');
body{
    display: flex;
    justify-content: center;
}
main {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 40rem;
}

p {
    padding-top: 0.8rem;
    font-family: 'Coming Soon', cursive;
}

h1{
    font-family: 'Fredericka the Great', cursive;
}